ion-content, ion-footer {
    --ion-background-color: #D3D3D3;
  }

  .lightGrey {
    --ion-background-color: #D3D3D3;
  }

  h4 {
    text-align: center;
    margin-top: 0px;
  }

  div {
    justify-content: center;
    text-align: center;
  }